.pageHeader-h1
{
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 30px;
}

.pageHeader-h2
{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
}

.pageText
{
    font-size: 20px;
    text-align: justify;
}

.filePath, .filePath:hover, .filePath:visited, .filePath:link, .filePath:active
{
    text-decoration: none;
}

.filePath
{
    color: #a6d17b;
}

.filePath:hover
{
    color: #73ba68;
}

.spacer
{
    padding: 50px;
    height: 10%;
}

.spacer-small
{
    padding: 30px;
    height: 10%;
}

.t-center
{
    text-align: center;
    display: block;
}

.hljs {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
    padding: 0.5em;
    background: #161313;
    color: white
}
.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #57a64a
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #569cd6
}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #d69d85
}
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af
}
.hljs-doctag {
    color: #808080
}
.hljs-attr {
    color: #f00
}
.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8
}
.hljs-emphasis {
    font-style: italic
}
.hljs-strong {
    font-weight: bold
}