<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="csfml-audio-2" os="linux" cpu="x86-64" target="lib/lin_x64/libcsfml-audio.so.2.4.0"/>
  <dllmap dll="csfml-graphics-2" os="linux" cpu="x86-64" target="lib/lin_x64/libcsfml-graphics.so.2.4.0"/>
  <dllmap dll="csfml-network-2" os="linux" cpu="x86-64" target="lib/lin_x64/libcsfml-network.so.2.4.0"/>
  <dllmap dll="csfml-system-2" os="linux" cpu="x86-64" target="lib/lin_x64/libcsfml-system.so.2.4.0"/>
  <dllmap dll="csfml-window-2" os="linux" cpu="x86-64" target="lib/lin_x64/libcsfml-window.so.2.4.0"/>

  <dllmap dll="csfml-audio-2" os="windows" cpu="x86-64" target="lib/x64/csfml-audio-2.dll"/>
  <dllmap dll="csfml-graphics-2" os="windows" cpu="x86-64" target="lib/x64/csfml-graphics-2.dll"/>
  <dllmap dll="csfml-network-2" os="windows" cpu="x86-64" target="lib/x64/csfml-network-2.dll"/>
  <dllmap dll="csfml-system-2" os="windows" cpu="x86-64" target="lib/x64/csfml-system-2.dll"/>
  <dllmap dll="csfml-window-2" os="windows" cpu="x86-64" target="lib/x64/csfml-window-2.dll"/>

  <dllmap dll="csfml-audio-2" os="windows" cpu="x86" target="lib/x86/csfml-audio-2.dll"/>
  <dllmap dll="csfml-graphics-2" os="windows" cpu="x86" target="lib/x86/csfml-graphics-2.dll"/>
  <dllmap dll="csfml-network-2" os="windows" cpu="x86" target="lib/x86/csfml-network-2.dll"/>
  <dllmap dll="csfml-system-2" os="windows" cpu="x86" target="lib/x86/csfml-system-2.dll"/>
  <dllmap dll="csfml-window-2" os="windows" cpu="x86" target="lib/x86/csfml-window-2.dll"/>
</configuration>
