body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background: RGB(31, 31, 31);
}

#app {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loadingText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.center {
    display: table;
    margin: 0 auto;
}

/**
* https://nzbin.github.io/three-dots/
*/

.dot-parent {
    position: relative;
    width: 62px;
    height: 62px;
}

.dot-gathering {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-image: url("./EmotionLogo.png");
    background-position: center;
    background-size: cover;
    color: transparent;
    position: relative;
}

.dot-pseudo {
    z-index: -1;
}

.dot-pseudo::before, .dot-pseudo::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 4px;
    left: -75px;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    background-color: white;
    color: transparent;
    opacity: 0;
    animation: dotGathering 1.5s infinite ease-in;
}

@keyframes dotGathering {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    35%, 65% {
        opacity: 0.5;
        transform: translateX(75px);
    }

    100% {
        opacity: 0;
        transform: translateX(150px);
    }
}