body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background: RGB(31, 31, 31);
}

#app {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loadingText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.center {
    display: table;
    margin: 0 auto;
}

/**
* https://nzbin.github.io/three-dots/
*/

.dot-gathering {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    color: transparent;
    margin: -1px 0;
}

.dot-gathering::before, .dot-gathering::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -50px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    color: transparent;
    opacity: 0;
    animation: dotGathering 2s infinite ease-in;
}

.dot-gathering::after {
    animation-delay: .5s;
}

@keyframes dotGathering {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    35%, 60% {
        opacity: 1;
        transform: translateX(50px);
    }

    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}