name: CI-Windows

on: [push]

jobs:
  build-n-run-tests:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@master
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: | 
          10.x.x
    - name: Build Everything
      run: |
        dotnet build Emotion.slnx -c Autobuild /p:Platform=Win64
    - name: Run Tests
      run: |
        cd .\Tests\bin\Default\Release\net10.0
        ls .
        .\Tests.exe
    - name: Upload Test Artifact
      if: always()
      uses: actions/upload-artifact@master
      with:
        name: Test Result Artifact
        path: Tests\bin\Default\Release\net10.0\TestResults
